@using Smart_Class.Web.Application.Dtos
@model IEnumerable<PresenceDto>
<br />
<form class="card mb-2" asp-action="Index" asp-controller="Presence" method="get">
    <div class="card-header mb-0 pb-0 d-flex justify-content-between">
        <h5>فیلتر</h5>
        <div class="">
            <a asp-action="Index" class="btn btn-sm btn-danger">حذف فیلتر</a>
            <button type="submit" class="btn btn-success btn-sm">اعمال فیلتر</button>
        </div>
    </div>
    <div class="card-body  mb-0">
        <div class="row">
            <div class="col-md-6">
                <label>جستجو:</label>
                <input style="width:90%" type="text" class="form-control" name="Title" value="@ViewBag.Title"
                       placeholder="عنوان جستجوی خود را وارد کنید" />
            </div>
            <div class="col-md-6">
                <label>نام کلاس</label>
                @Html.DropDownList("ClassId", ViewBag.Classes, "انتخاب کلاس", htmlAttributes: new { @class = "form-select Fix-Width", @data_val = "true"})
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-4">
                <label> تاریخ </label>
                <input style="width:10%" type="date" class="form-control" name="date" value="@ViewBag.Date" />
            </div>
        </div>
    </div>
</form>
@if (Model.Any())
{
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-bordered table-hover table table-striped align-middle table-responsive">
            <thead>
                <tr class="center">
                    <th>نام و نام خانوادگی </th>
                    <td>کدملی</td>
                    <th>نام کلاس</th>
                    <th>کد کلاس</th>
                    <th>تاریخ ثبت</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="center">
                        <td>@item.FirstName  @item.LastName</td>
                        <td>@item.SSID</td>
                        <td>@item.ClassName</td>
                        <td>@item.ClassCode</td>
                        <td>@item.CreateAt</td>
                        <td>
                            <form style="border:none;box-shadow:none" asp-action="DeleteTeacher" asp-route-Id="@item.Id"
                                  method="post" class="form-control">
                                <button class="btn" type="submit"
                                        onclick=" return confirm('آیا از حذف  @(item.FirstName + item.LastName)  مطمئن هستید؟');">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 7l16 0"></path>
                                        <path d="M10 11l0 6"></path>
                                        <path d="M14 11l0 6"></path>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        داده برای نمایش موجود نیست!
    </div>
}